# Database Configuration
# For local Docker Compose, host is usually 'db' or 'postgres'
# E.g. postgresql+asyncpg://postgres:postgres@db:5432/inventory_db
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/inventory_db

# Security
SECRET_KEY=supersecretkeychangeinproduction

# App Settings
PROJECT_NAME="Inventory & Order Management System"
ENVIRONMENT=local
PORT=8000
